extends layoutBS

block content
  body
  br
  h1(species = 'cursive2')
    |This website allows you to make your own announcement and advertisement.
    br
    |You must earn 'karma' points to share your own post.
    br
    |Let your voice be heard NOW!
  img.imgRight(src = "/images/brc.jpg")
